/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px; /* Augmentation de la largeur du conteneur */
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="emploi"] {
    width: calc(100% - 22px); /* Calcul pour inclure les bordures */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styles pour le bouton de type "submit" */
button[type="submit"] {
    width: calc(100% - 22px); /* Calcul pour inclure les bordures */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f84f7;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1f84f7;
}

/* Styles pour le sélecteur d'utilisateur */
#user {
    width: calc(100% - 22px); /* Calcul pour inclure les bordures */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style pour les options du sélecteur */
#user option {
    padding: 10px;
}
